---
import DocsLayout from '@/layouts/DocsLayout.astro';
import { getCollection } from 'astro:content';

const posts = await getCollection('docs');
---

<DocsLayout title="Documentation - form-kit">
  <h1 class="text-4xl font-bold">Documentation</h1>
  <ul class="mt-8 space-y-4">
    {posts.map((post) => (
      <li>
        <a href={`/docs/${post.slug}`} class="block py-2 text-violet-400 hover:underline">
          {post.data.title}
        </a>
        <p class="text-gray-400">{post.data.description}</p>
      </li>
    ))}
  </ul>
</DocsLayout>