---
import PackageManagerSwitcher from './PackageManagerSwitcher';
---

<section class="text-foreground py-20 md:py-32 bg-gradient-to-b from-background to-gray-800">
  <div class="container mx-auto flex flex-col items-center px-4 text-center">
    <h1 class="text-5xl md:text-6xl font-bold leading-tight mb-6">
      Build your forms <span class="text-primary">faster</span>
    </h1>
    <p class="px-8 mb-12 text-lg md:text-xl max-w-2xl text-foreground">
      form-kit is a lightweight, powerful and easy to use library to build your forms in React.
    </p>
    <div class="w-full max-w-xl">
      <PackageManagerSwitcher client:load />
    </div>
  </div>
</section>

